.form{
    background-color: #505050;
    height: 400px;
    width: 375px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.form h1{
    font-size: 3rem;
    color: #fff;
}

.connexion, .mot_de_passe{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
}

.connexion label, .mot_de_passe label{
    font-size: 1.5rem;
}

.input{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button{
    width: 150px;
    border: none;
    background: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: bold;
}

.button:hover{
    color: #009699;
}

@media only screen and (max-width: 480px){
    .form{
        width: 70%; 
        background-color: #260D4A;
    }

    .form h1{
        font-size: 2.25rem; 
    }

    .input{
        width: 100%; 
    }

    .button{
        width: 90%; 
    }

    #rond3, #rond4, #rond5{
        display: none;
    }

    #rond1{
        width: 175px;
        height: 175px;
        top: -50px;
        left: -70px;
        z-index: -1;
    }

    #rond2{
        width: 175px;
        height: 175px;
        bottom: -40px;
        left: 340px;
        z-index: -1;
    }

    #rond6{
        width: 50px;
        height: 50px;
        top: 190px;
        left: 375px;
        z-index: 2;
    }

    #rond7{
        width: 50px;
        height: 50px;
        top: 580px;
        right: 390px;
        z-index: 2;
    }
}