.Nav_left {
    background-color: #161717;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    height: 100%;
    width: 5%;
    justify-content: space-between;
}

.Nav_left_top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.icones {
    width: 28px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}

.link:hover {
    background-color: black;
    border-radius: 100%;
}